/* Asegúrate de que el cuerpo o contenedor principal ocupe toda la altura */
body, html {
  height: 100%;
  margin: 0;
}

#app { /* O el contenedor principal de tu aplicación */
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Esto asegura que se ocupe al menos la altura completa de la pantalla */
}

main {
  flex: 1; /* El contenido principal ocupa el espacio restante */
}
